.card {
    margin-top: 100px;
}

.card-img-top {
    width: 20%;
    max-height: 500px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    font-size: 20px;
    text-align: center;
}

.flex {
  display: flex;
  margin: auto;
  width: fit-content;
  grid-gap: 10px;
  
}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }


  .button1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(76, 220, 117) 10.8%,
      rgb(36, 230, 181) 94.3%
    );
    transition: all 0.475s;
  }
  